div.login-form{
    margin-top: 15px;
}

.content-register {
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 40%;
    width: 80%;
    margin: 5% auto;
    text-align: center;
    box-sizing: border-box;
    border-radius: 25px;
    
}





