{% extends "habits/base.html" %}

{% block content %}

    {% for habit in habits %}
        <article class="habit-wrapper">

            <p class="habit-text">{{ habit.name }}</p>
            <p>Priority: {{ habit.priority }}</p>

            <div class="habits-done">
              {% if habit.status %}
           <input type="checkbox" value="{{ habit.pk }}" class="habit-checkbox" id="habit-checkbox_{{ habit.pk }}" name="habit" checked>
              {% else %}
           <input type="checkbox" value="{{ habit.pk }}" class="habit-checkbox" id="habit-checkbox_{{ habit.pk }}" name="habit">
              {% endif %}
           <label class="chekbox-label" for="habit">Done?</label>
         </div>
        </article>
    {% endfor %}

{% endblock content %}

{% block scripts %}<script src="../../static/typescript/ajax.js"></script>{% endblock %}