.habit-wrapper {
    display: flex;
    flex-direction: row;
    border: $border-color 1px solid;
    border-radius: 30px;
    justify-content: center;
    align-content: center;
    margin: 10px 20vh;
    flex-wrap: wrap;
}

.habit-text{
    display: flex;
    flex-wrap: wrap;        
}

.habits-done{
    display: flex;
    align-items:center;
}

.chekbox-label{
    margin:0;
}

.done-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.done-label{
    margin: 0;
    margin-right: 10px;
}

.habit-wrapper > p, .done-checkbox > p {
    margin: 20px;
}

.header-list{
    text-align: center;
}

.list-buttons{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: $tablet) {
    .habit-wrapper {
        flex-direction: column;
        align-items: center;
        margin: 10px 10px;
    }
    .habit-wrapper > p, .done-checkbox > p {
        margin: 4px;
    }

  }