$main-color: green;
$secondary-color: blue;

$border-color: red;


/*media queries breakpoints*/
$very-wide-desktop: 2250px;
$wider-desktop: 1840px;
$wide-desktop: 1480px;
$desktop: 1240px;
$laptop: 1024px;
$tablet: 960px;
$phablet: 800px;
$mobile: 640px;
$small-mobile: 400px;
$very-small-mobile: 320px;


/*images*/
$img-url: ''

